.p-paginator {
    display: flex;
    gap:5px;
    width: 400px;
}

.p-paginator-pages {
    display: flex;
    gap: 5px;
}

.p-highlight {
    background-color: #1cbcc8;
    color: white;
    border: 1px solid #1cbcc8;
}

.p-paginator .p-paginator-element{
    border: 1px solid #e4e4e4;
}

.p-paginator button {
    border-radius: 17px;
    font-weight: 400;
    padding: 0;
    height: 45px;
    padding: 0;
    width: 10px;
    font-weight: bold;
    font-size: 14px;
    scale:0.8;
}


.p-dropdown {
    display: none;
}
